<!DOCTYPE html>
<html>
<body>
            <!--Page Title-->
            <section class="page-title text-center" style="background-image:url(images/background/cat.jpeg);">
                <div class="container">
                    <div class="title-text">
                        <h1>about us</h1>
                        <ul class="title-menu clearfix">
                            <li>
                                <a href="home.html">home &nbsp;/</a>
                            </li>
                            <li>about us</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--End Page Title-->
            <!-- Our Story -->
            <section class="story">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/services/service3.png" class="responsive" alt="story">
                        </div>
                        <div class="col-md-6">
                            <div class="story-content">
                                <h2>Our Story</h2>
                                <h5 class="tagline">
                                "Our staff treats you like family and each pet like our own. We are honored and proud to be a partner in your pet's healthcare team."</h6>
                                <p style="text-align: justify;">
                                    As pet owners ourselves, we believe that preventative care with wellness exams are the keys to your pet living a longer, healthier, and happier life. As a full-service veterinary office, we offer state-of-the-art testing and diagnostics, an array of advanced care, routine and advanced surgical procedures, and many other services to provide your pet with the best possible care.
                                    We welcome new patients to our office and look forward to meeting you and your pet.
                                </p>
                                <h6>Mission</h6>
                                <p style="text-align: justify;">We are pet care professionals who work as a team to help as many people and their pets in our community to have the 
                                    best human-animal bond possible by offering optimal health, excellent veterinary care, and education in a low-stress environment.
                                </p>
                                <h6>Vision</h6>
                                <p style="text-align: justify;">Our vision is to provide the highest level of pet care through medical innovation, continued education, and advancements in animal healthcare. We will strengthen communication with our clients, and set a precedence of
                                    treating them and their pets responsibly, respectfully, and individually in a family environment, all while inspiring a culture of trust and compassion.
                                    Through our community involvement and support, we will promote and nurture the joy of the pet-human bond.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Promo Video 
                <section class="promo-video">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="block text-center">
                                    <h6>About Our Hospital</h6>
                                    <h1>The World <br>
                                        Class Hospitality
                                    </h1>
                                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
            <section class="gallery bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h3>Collected Shots
                                    <span>of Our Veterinary Station</span>
                                </h3>
                                <p>Explore our veterinary station through a curated collection of images that offer a glimpse into our facilities and
                                    <br>the environment where we care for your beloved pets.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/pic1.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/p1.jpg"></a>
                                <h3>Laboratory</h3>
                                <p>Our laboratory is equipped to perform a wide range of diagnostic tests, including bloodwork, urinalysis, fecal examinations, cytology, and more.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/pic2.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images"  href="images/gallery/pic2.jpg"></a>
                                <h3>Surgical Suite</h3>
                                <p>State-of-the-art surgical suite ensuring precision and safety for your pet's surgical needs.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/pic3.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/pic3.jpg"></a>
                                <h3>Diagnostic Imaging Services</h3>
                                <p>Cutting-edge diagnostic imaging for accurate pet assessments.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/pic4.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/pic4.jpg"></a>
                                <h3>Dental care</h3>
                                <p>Comprehensive dental care for your pet's oral health.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/pic5.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/pic5.jpg"></a>
                                <h3>Isolation Ward</h3>
                                <p>Safe and specialized care in our isolation ward for pets with contagious conditions.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/pic6.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/pic6.jpg"></a>
                                <h3>Pharmacy</h3>
                                <p>Convenient in-house pharmacy for all your pet's medication needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Section -->
            <section class="appoinment-section section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="accordion-section">
                                <div class="section-title">
                                    <h3>FAQ</h3>
                                </div>
                                <div class="accordion-holder">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Why Should I choose Pet Care Veterinary Station?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <p style="text-align: justify;"> Experienced and Caring Staff: Our veterinary team consists of highly skilled professionals who are passionate about providing the best possible care for your pets. With years of experience and a genuine love for animals, you can trust that your pet is in good hands.
                                                        Comprehensive Services: We offer a wide range of veterinary services, from routine check-ups and vaccinations to specialized treatments and surgeries. Whatever your pet's needs may be, we have the expertise and resources to address them effectively.
                                                        State-of-the-Art Facilities: Our veterinary station is equipped with modern facilities and advanced medical equipment to ensure the highest standard of care for your pets. We continuously invest in technology and infrastructure to stay at the forefront of veterinary medicine.
                                                        Convenient Appointment Scheduling: With our web application, booking appointments is quick and easy. You can conveniently schedule appointments online, view available time slots, and receive instant confirmation  (ovo provjeriti hoc eli biti confirmation). We strive to make the appointment process as hassle-free as possible for our clients.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                                        aria-controls="collapseTwo">
                                                    What should I do in case of a pet emergency?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <p style="text-align: justify;">
                                                        Remain Calm: The first and most important thing to do in an emergency is to stay calm. Your pet can sense your emotions, and remaining composed will help you think clearly and take appropriate action.
                                                        Assess the Situation: Evaluate the severity of the emergency. Is your pet in immediate danger, experiencing severe pain, or having difficulty breathing? Understanding the urgency of the situation will guide your next steps.
                                                        Contact Us Immediately: If possible, contact our veterinary station or the nearest emergency veterinary clinic as soon as you recognize the emergency. Our team can provide guidance over the phone and prepare for your arrival.
                                                        Follow First Aid Measures: While en route to the veterinary station, administer basic first aid measures if safe to do so. This might include applying pressure to stop bleeding, stabilizing fractures, or performing CPR if necessary. However, only attempt first aid procedures if you are trained to do so and it is safe for both you and your pet.
                                                        Transport Safely: If your pet is in a stable condition and able to be moved, carefully transport them to our veterinary station or the emergency clinic. Use a carrier or secure them in the car to prevent further injury during transportation.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                                        aria-controls="collapseThree">
                                                    What qualifications and experience do your veterinarians have?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <P style="text-align: justify;">
                                                        Advanced Training: Our veterinarians undergo rigorous training and continuing education to stay abreast of the latest advancements in veterinary medicine. Many have pursued specialized training in areas such as surgery, internal medicine, dentistry, and emergency care.
                                                        Years of Experience: Collectively, our veterinary team brings decades of experience in caring for a wide range of animal species, from cats and dogs to exotic pets and large animals. Their extensive experience allows them to handle various medical conditions with confidence and expertise.
                                                    </P>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <!-- End Contact Section -->
      
</body>
</html>