<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script> <!-- jQuery Validate -->
        <script src="../forms/validate-addpet.js"></script> <!-- Your custom JavaScript file -->
</head>
     
    </head>
   
    <body>
        
            <!-- Contact Section -->
            <section class="blog-section section style-three">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-area style-two">
                                <div class="section-title">
                                    <h3>Register Pet</h3>
                                </div>
                                <form name="contact_form" class="default-form contact-form" action="" method="" id="validate-addpet">
                                    <div class="form-group">
                                        <input type="text" name="petname" placeholder="Name" id="petname" >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="species" placeholder="Species" id="species">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="breed" placeholder="Breed" id="breed">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="age" placeholder="Age" id="age">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="disease" placeholder="Disease" id="disease">
                                    </div>
                                    <button type="submit" class="btn-style-one" id="addpet">submit now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        
        <!-- End Contact Section -->
      
        </body>
        </html>