<!DOCTYPE html>
<html>
   
    <body>
        
            <!--Page Title-->
            <section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
                <div class="container">
                    <div class="title-text">
                        <h1>gallery</h1>
                        <ul class="title-menu clearfix">
                            <li>
                                <a href="home.html">home &nbsp;/</a>
                                <!-- pokusala sam views/home.html ili ./views/home.html ili ../views/home.html-->
                            </li>
                            <li>gallery</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--End Page Title-->
            <!-- Video Gallery -->
            <section class="video-gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h3>Collected Media
                                    <span>of Our Veterinary Station</span>
                                </h3>
                                <p>Explore our collection of media showcasing the compassionate care and state-of-the-art facilities at our veterinary station.
                                    <br> From heartwarming patient stories to behind-the-scenes glimpses, discover what sets us apart.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="video-gallery-item">
                                <div class="image-holder">
                                    <img src="images/gallery/g1.jpg" class="img-responsive" alt="video-gallery">
                                </div>
                                <h3>January 2018 Florida Conference</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="video-gallery-item">
                                <div class="image-holder">
                                    <img src="images/gallery/g3gif.gif" class="img-responsive" alt="video-gallery">
                                </div>
                                <h3>December 2020 los angeles Conference</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Video Gallery END -->
            <section class="gallery bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h3>Collected Shots
                                    <span>of Our Veterinary Station</span>
                                </h3>
                                <p>Browse through our collection of images capturing the essence of our veterinary station. From our modern facilities to our dedicated team in action,<br> get a glimpse of the quality care we provide to our furry patients.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/g10.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/g10.jpg"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/g4.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/g4.jpg"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/g5.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/g5.jpg"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/g6.png" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/g6.png"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/g7.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/g7.jpg"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <img src="images/gallery/g8l.jpg" class="img-responsive" alt="gallery-image">
                                <a data-fancybox="images" href="images/gallery/g8l.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>