<!DOCTYPE html>
<html>
   
    <body>
        
            <!--Page Slider-->
            <div class="hero-slider">
                <!-- Slider Item -->
                <div class="slider-item slide1" style="background-image:url(images/slider/slider-bg-1.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Slide Content Start -->
                                <div class="content style text-center">
                                    <h2 class="text-white text-bold mb-2">Our Best Veterinarians</h2>
                                    <p class="tag-text mb-5">Our team of highly skilled veterinarians brings years of experience and dedication to providing the best possible care for your beloved pets.</p>
                                    <p>Please login how you could use our services.</p>
                                    <a href="admin/login.html" class="btn btn-main btn-white">LOGIN</a> 
                                </div>
                                <!-- Slide Content End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Item -->
                <div class="slider-item" style="background-image:url(images/slider/slider-bg-2.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Slide Content Start-->
                                <div class="content style text-right">
                                    <h2 class="text-white">We Care About <br>Pet Health</h2>
                                    <p class="tag-text">We prioritize pet health and well-being, offering compassionate  care  <br> and  personalized treatment plans tailored to each furry friend.</p>
                                    <a href="service.html" class="btn btn-main btn-white">Services</a>
                                </div>
                                <!-- Slide Content End-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Item -->
                <div class="slider-item" style="background-image:url(images/slider/slider-bg-3.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Slide Content Start -->
                                <div class="content text-center style">
                                    <h2 class="text-white text-bold mb-2">Best Medical Services</h2>
                                    <p class="tag-text mb-5">Experience our top-tier medical services, enhanced by our efficient online appointment system, <br> ensuring convenient access to expert care for your pet's health needs.
                                    </p>
                                    <a href="appointment.html" class="btn btn-main btn-white">Appointment</a>
                                </div>
                                <!-- Slide Content End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====  End of Page Slider  ====-->
            <section class="cta">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cta-block">
                                <div class="emmergency item">
                                    <i class="fa fa-phone"></i>
                                    <h2>Emegency Cases</h2>
                                    <a href="#">1-800-700-6200</a>
                                    <p>For urgent assistance, call our dedicated emergency hotline, available 24/7 to address your pet's emergency needs.</p>
                                </div>
                                <div class="top-doctor item">
                                    <i class="fa fa-stethoscope"></i>
                                    <h2>24 Hour Service</h2>
                                    <p>Count on our round-the-clock service to provide expert veterinary care whenever your pet needs it, day or night.</p>
                                </div>
                                <div class="working-time item">
                                    <i class="fa fa-hourglass-o"></i>
                                    <h2>Working Hours</h2>
                                    <ul class="w-hours">
                                        <li>Mon - Sat  - <span>8:00 - 17:00</span></li>
                                        <li>Emegency cases  - <span>00:00 - 00:00</span></li>
                                        <li>Online services  - <span>00:00 - 00:00</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--about section-->
            <section class="feature-section section bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="image-content">
                                <div class="section-title text-center">
                                    <h3>Best Features
                                        <span>of Our Veterinary Station</span>
                                    </h3>
                                    <p>Discover the best features of our veterinary station, from state-of-the-art facilities to compassionate care, ensuring optimal health and well-being for your cherished pets.?
                                        <br> Experience excellence at every visit with our comprehensive services, skilled team, and dedication to your pet's health and happiness. 
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="item">
                                            <div class="icon-box">
                                                <figure>
                                                    <a href="#">
                                                    <img src="images/resource/1.png" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                            <h6>Internam medical consultations</h6>
                                            <p>For thorough evaluations and personalized treatment plans addressing complex medical conditions, turn to our experienced veterinarians specializing in internal medicine consultations, dedicated to ensuring the health and longevity of your pet.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="item">
                                            <div class="icon-box">
                                                <figure>
                                                    <a href="#">
                                                    <img src="images/resource/2.png" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                            <h6>Diaginostic</h6>
                                            <p>Rely on our state-of-the-art diagnostic capabilities, including advanced imaging and laboratory services, administered by our skilled team of professionals, to provide comprehensive assessments and precise diagnoses for your pet's health concerns</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="item">
                                            <div class="icon-box">
                                                <figure>
                                                    <a href="#">
                                                    <img src="images/resource/3.png" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                            <h6>Surgery</h6>
                                            <p>For surgical interventions ranging from routine procedures to complex surgeries, trust our experienced team of veterinarians and advanced surgical suite, equipped with state-of-the-art technology, to provide your pet with the highest quality care and optimal outcomes.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="item">
                                            <div class="icon-box">
                                                <figure>
                                                    <a href="#">
                                                    <img src="images/resource/4.png" alt="">
                                                    </a>
                                                </figure>
                                            </div>
                                            <h6>General Treatment</h6>
                                            <p>For comprehensive care tailored to your pet's individual needs, our general treatment services encompass a wide range of medical, surgical, and preventive measures, ensuring the optimal health and well-being of your beloved companion.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End about section-->
            <!--Start about us area-->
            <section class="service-tab-section section">
                <div class="outer-box clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Nav tabs -->
                                <div class="tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#dormitory"  data-toggle="tab">Pain management</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#orthopedic" data-toggle="tab">Vaccinations</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#sonogram" data-toggle="tab">Spaying and neutering</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#x-ray" data-toggle="tab">Dental cleanings</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#diagnostic" data-toggle="tab">diagnostic</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Start single tab content-->
                                <div class="tab-content">
                                    <div class="service-box tab-pane fade in active row" id="dormitory">
                                        <div class="col-md-6">
                                            <img class="img-responsive" src="images/services/p1.jpg" alt="service-image">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>pain management</h3>
                                                </div>
                                                <div class="text">
                                                    <p>For pets experiencing discomfort or pain, our comprehensive pain management services offer tailored solutions to alleviate suffering and improve quality of life, guided by compassionate care and advanced treatment modalities.</p>
                                                    <p>Our pain management protocols prioritize your pet's comfort and well-being, utilizing a combination of medication, therapy, and compassionate support to ensure they live their happiest, healthiest life.</p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Medication
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Physical Therapy
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Alternative Therapies
                                                    </li>
                                                </ul>
                                                <!--    <a href="#" class="btn btn-style-one">Read more</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single tab content-->
                                    <!--Start single tab content-->
                                    <div class="service-box tab-pane fade in" id="orthopedic">
                                        <div class="col-md-6">
                                            <img class="img-responsive" src="images/services/pic2.jpg" alt="service-image">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>Vaccinations and preventive care</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Vaccinations and preventive care are essential components of ensuring your pet's health and well-being. Vaccinations help protect pets from various contagious and potentially deadly diseases by stimulating their immune system to develop immunity against specific pathogens. Preventive care encompasses a range of measures aimed at maintaining your pet's health and preventing common illnesses. </p>
                                                    <p>This includes regular wellness exams, parasite prevention (such as flea, tick, and heartworm prevention), dental care, nutrition counseling, and lifestyle recommendations tailored to your pet's individual needs. By staying up-to-date with vaccinations and implementing preventive care measures, you can help keep your pet healthy and happy throughout their life. </p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Regular wellness exams
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Parasite prevention (such as flea, tick, and heartworm prevention)
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Nutrition counseling
                                                    </li>
                                                </ul>
                                                <!--    <a href="#" class="btn btn-style-one">Read more</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single tab content-->
                                    <!--Start single tab content-->
                                    <div class="service-box tab-pane fade in" id="sonogram">
                                        <div class="col-md-6">
                                            <img class="img-responsive" src="images/services/p3.jpg" alt="service-image">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>Spaying and neutering</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Spaying and neutering are surgical procedures performed by veterinarians to sterilize pets, preventing them from reproducing. Spaying involves the removal of a female animal's ovaries and uterus, while neutering typically refers to the removal of a male animal's testicles. </p>
                                                    <p>Spaying and neutering are typically recommended by veterinarians as part of responsible pet ownership, and they can be performed as early as a few months of age for most pets. </p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Reducing the risk of certain health problem
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Such as: reproductive cancers,preventing unwanted litters 
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>decreasing roaming and aggression in males
                                                    </li>
                                                </ul>
                                                <!--    <a href="#" class="btn btn-style-one">Read more</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single tab content-->
                                    <!--Start single tab content-->
                                    <div class="service-box tab-pane fade in" id="x-ray">
                                        <div class="col-md-6">
                                            <img class="img-responsive" src="images/services/p4.jpg" alt="service-image">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>Dental cleanings and treatments</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Dental cleanings and treatments are essential for maintaining your pet's oral health and overall well-being. These procedures, performed by veterinarians or veterinary technicians, involve removing plaque, tartar, and bacteria from your pet's teeth and gums to prevent dental disease and related health issues. </p>
                                                    <p>Regular dental care is crucial for pets to prevent dental problems such as periodontal disease, tooth decay, and oral pain, which can affect their overall health and quality of life. Your veterinarian can provide recommendations for dental care based on your pet's oral health needs and help you develop a plan for maintaining their dental hygiene at home</p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Remove buildup from the teeth
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Extractions to address diseased or damaged teeth
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Tperiodontal therapy for gum disease
                                                    </li>
                                                </ul>
                                                <!--     <a href="#" class="btn btn-style-one">Read more</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single tab content-->
                                    <!--Start single tab content-->
                                    <div class="service-box tab-pane fade in" id="diagnostic">
                                        <div class="col-md-6">
                                            <img class="img-responsive" src="images/services/p5.jpg" alt="service-image">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>diagnostic</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Diagnostic services play a critical role in identifying and treating health issues in pets. These services encompass a range of tests and evaluations conducted by veterinarians to assess your pet's health status accurately..</p>
                                                    <p>By analyzing these diagnostic results, veterinarians can detect underlying medical conditions, monitor ongoing health concerns, and develop tailored treatment plans to address your pet's specific needs. Early diagnosis through diagnostic testing can lead to timely intervention, better outcomes, and improved quality of life for your pet..</p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Bloodwork
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Urinalysis, fecal examinations
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Imaging studies (such as X-rays or ultrasound)
                                                    </li>
                                                </ul>
                                                <!--     <a href="#" class="btn btn-style-one">Read more</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single tab content-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End about us area-->
            <!--Service Section-->
            <!--End Service Section-->
            <!--testimonial-section-->
            <section class="testimonial-section" style="background: url(images/testimonials/1.jpg);">
                <div class="container">
                    <div class="section-title text-center">
                        <h3>What Our
                            <span>Patients Says</span>
                        </h3>
                    </div>
                    <div class="testimonial-carousel">
                        <!--Slide Item-->
                        <div class="slide-item">
                            <div class="inner-box text-center">
                                <div class="image-box">
                                    <figure>
                                        <img src="images/testimonials/1.png" alt="">
                                    </figure>
                                </div>
                                <h6>Adam Rose</h6>
                                <p style="text-align: justify;">I cannot thank the team at PetCare enough for the exceptional care they provided to my pet. From routine vaccinations to emergency surgery, they've always been there for us, demonstrating expertise, compassion, and genuine concern for my furry friend's well-being</p>
                            </div>
                        </div>
                        <!--Slide Item-->
                        <div class="slide-item">
                            <div class="inner-box text-center">
                                <div class="image-box">
                                    <figure>
                                        <img src="images/testimonials/2.png" alt="">
                                    </figure>
                                </div>
                                <h6>David Warner</h6>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                            </div>
                        </div>
                        <!--Slide Item-->
                        <div class="slide-item">
                            <div class="inner-box text-center">
                                <div class="image-box">
                                    <figure>
                                        <img src="images/testimonials/3.png" alt="">
                                    </figure>
                                </div>
                                <h6>Amy Adams</h6>
                                <p style="text-align: justify;">The professionalism and dedication of the veterinarians and staff at [Your Veterinary Station Name] are truly commendable. Their thorough examinations, clear explanations, and personalized approach to treatment have made all the difference in keeping my pet healthy and happy. </p>
                            </div>
                        </div>
                        <!--Slide Item-->
                        <div class="slide-item">
                            <div class="inner-box text-center">
                                <div class="image-box">
                                    <figure>
                                        <img src="images/testimonials/p1.jpg" alt="">
                                    </figure>
                                </div>
                                <h6>Ena Stone</h6>
                                <p style="text-align: justify;">After struggling to find effective treatment for my pet's chronic condition, I turned to [Your Veterinary Station Name], and I'm so glad I did. Their team of experts went above and beyond to develop a customized treatment plan that significantly improved my pet's quality of life. I couldn't be more grateful</p>
                            </div>
                        </div>
                        <!--Slide Item-->
                        <!--Slide Item-->
                        <!--Slide Item-->
                        <!--Slide Item-->
                        <!--Slide Item-->
                    </div>
                </div>
            </section>
            <!--End testimonial-section-->
            <!-- Contact Section -->
            <section class="appoinment-section section">
                <div class="container">
                </div>
            </section>
            <!-- End Contact Section -->
        </body>
</html>